/* Altura da div princincipal da app */
.home {
  height: calc(100vh - 58px);
}

/* Estilo da div direita da app */
.main {
  height: auto;
  width: 80%;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: slide-down-top 1000ms;
}
@keyframes slide-down-top {
  from {
    transform: translateY(-100%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Estilo da div que comporta o gráfico */
#chartContainer {
  height: 300px;
  width: 100%;
}

/* Layout responsivo da app */
@media (max-width: 425px) {
  .home.container-fluid.d-flex.flex-row.justify-content-around {
    flex-direction: column !important;
  }
  .main {
    width: 100%;
    animation: none;
  }
}
